html body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url(https://3.bp.blogspot.com/-okvC_MwhXo4/XPrtr24ugQI/AAAAAAAAG08/tA8SeskZdv8kh8U2ytLEVitNbMI2MfBSACKgBGAs/w919/watch-dogs-legion-logo-anonymous-uhdpaper.com-4K-3.jpg);
    background-size: cover;
}

html div .o3j99 {
    background-color: none
}

html body div#gb {
    position: relative;
    height: 48px;
    color: white;
    font: 13px/27px Roboto, RobotoDraft, Arial, sans-serif;
    z-index: 986;
    min-width: auto;
    opacity: 0,5;
    background-color: transparent !important;
}

html body div.c93Gbe {
    background: none;
}


